/* Diagnostic */


/* Layout  */
@media screen (min-width: 481px) {
main {
  display: grid;
  grid-template-areas: "#thedate #thetime";
 
  align-content: center;
  /*  extend to viewport height  */
  height: 100vh;
}
}

@media screen (max-width: 480px) {
  main {
    display: grid;
    grid-template-areas: "#thedate"
    "#thetime");
    /* stacked vertically */
    align-content: center;
    height: 100vh;
  }
}

main time {
/*  center content  */
  text-align: center;
}

#thedate {
font-size: 48px;
font-family: Garamond, serif;
background-color: black;
color: white;
padding: 50px;
}

#thetime {
font-size: 48px;
font-family: Garamond, serif;
background-color: black;
color: white;
padding: 50px;
}

.time{
  font-size: 60px;
}

.date {
  font-size: 60px;
}

.hours {
color: red;
}

.minutes {
color: red;
}

.seconds {
color: red;
}

.dayOfWeek {
color: red;
}
